* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 1px #e9e9e9;
  justify-content: space-between;
  height: 47px;
  margin-bottom: 20px;
  padding-left: 4%;
  padding-right: 6%;
  padding-top: 13px;
}

.search-container {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.search-container .dropdown {
  height: 33px;
  font-size: 14px;
  border-top-left-radius: 0;
  padding: 3px;
  background-color: #ffffff;
  border: 1px solid;
  width: 91px;
}

.search-container input[type=text] {
  width: 34%;
  height: 33px;
  font-size: 16px;
  padding: 10px;
  border-radius: 0;
  border: 1px solid grey;
}

a {
  text-decoration: none;
  color: #000000;
}

.movie-card {
    height: 270px;
    min-height: 270px;
    width: 232px;
    text-decoration: none;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 8px;
    display: inline-block;
    justify-content: space-between;
}

.movie-list {
  margin-left: 3%;
  margin-right: 3%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 18%;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.card-img {
  width: 100%;
  height: 200px;
}

.favourite {
  right: 6%;
  position: absolute;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}
.favourite-button {
  background-color: #70e0fa;
  margin-bottom: 5%;
  cursor: pointer;
  float: right;
  border: none;
  padding: 4px;
  border-radius: 4px;
  font-size: 15px;
}

.img-tag {
  background: lightblue;
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.images-list {
    height: 200px;
    width: 100%;
}